/hugo
docs/public*
/.idea
hugo.exe
*.test
*.prof
nohup.out
cover.out
*.swp
*.swo
.DS_Store
*~
vendor/*/
*.bench
*.debug
coverage*.out

dock.sh

GoBuilds
dist

hugolib/hugo_stats.json
resources/sunset.jpg

vendor
node_modules
resources/
public
static/*.css
wir/
wir

BlogContent/
.vscode
*.log
static/bundle.js*
_blogs/
.hugo_build.lock
