<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="{{ .Site.Title }}">
<meta name="msapplication-starturl" content="{{ .Permalink }}">
<meta name="msapplication-navbutton-color" content="#0097A7">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="{{ .Title }}">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link href="https://cdn.jsdelivr.net/npm/wir@1.0.1" rel="icon" type="image/ico">
<link rel="apple-touch-icon" href="https://cdn.jsdelivr.net/npm/wir@1.0.1/apple-touch-icon.png">