<head>
    <meta charset='utf-8'>
    <link href="https://cdn.jsdelivr.net" rel="preconnect" crossorigin>
    {{- $title := partial "head/title" . -}}
    <title>{{ $title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name="referrer" content="same-origin">
    {{ if .Site.IsServer }}
    {{ $style := resources.Get "sass/main.scss" | toCSS | resources.PostCSS | minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    {{ else }}
    <link href="https://cdn.jsdelivr.net/npm/{{ .Site.Params.StaticVendor.cssVer }}/css/main.min.css" rel="preload" as="style">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/{{ .Site.Params.StaticVendor.cssVer }}/css/main.min.css">
    {{ end }}
    {{ if in .Site.Params.mainSections .Type }}
    <meta name="description" content="{{ .Summary }}" />
    <meta name="keywords"
        content="{{ range $index, $director := .Params.tags }}{{ if gt $index 0 }},{{ end }}{{ . }}{{ end }}" />
    {{ else if eq .Type "page" }}
    {{ with .Summary }}
    <meta name="description" content="{{ . }}" />
    {{ else }}
    <meta name="description" content="{{ site.Params.Description }}" />
    {{ end }}
    <meta name="keywords"
        content="{{ range first 25 site.Taxonomies.tags.ByCount }}{{ $f := slicestr  .Name 0 1}}{{if ne $f "2"}}{{.Name}},{{end}}{{end}}" />
    {{ else }}
    <meta name="keywords"
        content="{{ range first 25 site.Taxonomies.tags.ByCount }}{{ $f := slicestr  .Name 0 1}}{{if ne $f "2"}}{{.Name}},{{end}}{{end}}" />
    <meta name="description" content="{{ .Site.Params.Description }}" />
    {{ end }}
    <meta name="date" content="{{site.LastChange.Format "2006-01-02T15:04:05Z" }}" />
    {{ with site.Author.name }}
    <meta name="author" content="{{ . }}" />{{ end }}
    <meta content="on" http-equiv="x-dns-prefetch-control">
    <link rel="dns-prefetch" href="https://cdn.jsdelivr.net" />
    <link href="{{ .Permalink }}" rel="canonical" />
    <link rel="manifest" href="/manifest.webmanifest" />
    {{ if .Site.IsServer }}
    <script src="/bundle.js"></script>
    {{ else }}
    <script src="https://cdn.jsdelivr.net/npm/{{ .Site.Params.StaticVendor.cssVer }}/js/{{ .Site.Params.StaticVendor.jsSRC }}" async defer
        integrity="{{ .Site.Params.StaticVendor.jsSRI }}"
        crossorigin="anonymous"></script>
    {{ end }}

    <script>!function () { const e = document.documentElement, t = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light", n = localStorage.getItem("theme"); n === t ? a() : n ? e.setAttribute("data-theme", n) : (e.removeAttribute("data-theme"), localStorage.removeItem("theme")) }()</script>
    {{ partial "head/opengraph" . }}
    {{ partial "head/application" . }}
    {{ partial "head/schema" . }}
    {{ partial "head/funcs" . }}
</head>