<head>
    <meta charset='utf-8'>
    <link href="https://cdn.jsdelivr.net" rel="preconnect" crossorigin>
    {{- $title := partial "head/title" . -}}
    <title>{{ $title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name="referrer" content="same-origin">
    <script>
        !function () {
            const e = document.documentElement,
                t = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light",
                n = localStorage.getItem("theme");
            n === t ? a() : n ? e.setAttribute("data-theme", n) : (e.removeAttribute("data-theme"), localStorage.removeItem("theme"))
        }()
    </script>
    {{ if .Site.IsServer }}
    <link rel="preload" as="script" href="/bundle.js">
    <link href="/build.css" rel="preload stylesheet" as="style">
    {{ else }}
    <link rel="preload" as="script" integrity="{{ .Site.Params.StaticVendor.jsSRI }}"
        href="https://cdn.jsdelivr.net/npm/{{ .Site.Params.StaticVendor.version }}/js/defer.prod.js">
    <link href="https://cdn.jsdelivr.net/npm/{{ .Site.Params.StaticVendor.version }}/css/main.min.css"
        rel="preload stylesheet" as="style">
    {{ end }}
    {{ if in .Site.Params.mainSections .Type }}
    <meta name="description" content="{{ .Summary }}" />
    <meta name="keywords"
        content="{{ range $index, $director := .Params.tags }}{{ if gt $index 0 }},{{ end }}{{ . }}{{ end }}" />
    {{ else if eq .Type "page" }}
    {{ with .Summary }}
    <meta name="description" content="{{ . }}" />
    {{ else }}
    <meta name="description" content="{{ site.Params.Description }}" />
    {{ end }}
    <meta name="keywords" content="{{ site.Params.Keywords }}" />
    {{ end }}
    <meta name="date" content="{{site.LastChange.Format " 2006-01-02T15:04:05Z" }}" />
    {{ with site.Author.name }}
    <meta name="author" content="{{ . }}" />{{ end }}
    <meta content="on" http-equiv="x-dns-prefetch-control">
    <link rel="dns-prefetch" href="https://cdn.jsdelivr.net" />
    <link href="{{ .Permalink }}" rel="canonical" />
    <link rel="manifest" href="/manifest.webmanifest" />
    {{ if .Params.Mathrender }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.css"
        integrity="sha384-R4558gYOUz8mP9YWpZJjofhk+zx0AS11p36HnD2ZKj/6JR5z27gSSULCNHIRReVs" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.js"
        integrity="sha384-z1fJDqw8ZApjGO3/unPWUPsIymfsJmyrDVWC8Tv/a1HeOtGmkwNd/7xUS0Xcnvsx"
        crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/contrib/auto-render.min.js"
        integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
    {{end}}

    {{ partial "head/opengraph" . }}
    {{ partial "head/application" . }}
    {{ partial "head/schema" . }}
    {{ partial "head/funcs" . }}
</head>