<script type="application/ld+json">{
    "@context": "https://schema.org",
    "@type": "Article",
    "publisher": {
        "@type": "Organization",
        "name": "{{ .Site.Title }}",
        "logo": {
            "@type":"ImageObject",
            "url": "https://ae01.alicdn.com/kf/H3581d2df939f4c3182b1d4b9c2a47bdaO.png"
        }
    },
    "author": {
        "@type": "Person",
        "name": "Wincer",
        "image": {
            "@type": "ImageObject",
            "url": "https://ae01.alicdn.com/kf/HTB1DdGHXizxK1RjSspj763S.pXax.png"
        },
        "description": "昔日玫瑰以其名流芳，今人所持唯玫瑰之名"
    },
    "url": {{ .Permalink }},
    "headline": "{{ .Title }}",
    "name": "{{ .Title }}",
    "inLanguage": {
        "@type": "Language",
        "alternateName": "zh-CN"
    },
    "image": {
        "@type": "ImageObject",
        "url": {{ .Params.Cover }}
    },
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": {{ .Permalink }}
    }
    {{ if in .Site.Params.mainSections .Type }},
    "datePublished": {{ .Params.Date.Format "2006-01-02T15:04:0500:00Z" }},
    "dateModified": {{ .Params.Updated }},
    "keywords": "{{ range $index, $director := .Params.tags }}{{ if gt $index 0 }},{{ end }}{{ . }}{{ end }}",
    "description": {{  .Summary | replaceRE "(?m)(?s:<(style|script).*(style|script)>)" "" | plainify }}
    {{ else if .IsHome }},
    "description": {{ .Site.Params.Subtitle }}
    {{ end }}
}</script>