

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	@apply font-maintext;
	@apply transition;
	@apply ease-linear;
	@apply duration-300;
}

.headline {
	@apply font-maintext;
	padding-bottom: .6rem;
	/* padding-left: 1rem; */
	/* text-shadow: 1px 1px 8px #444; */
}

@layer utilities {
	.text-shadow {
		text-shadow: 1px 1px 4px #444;
	}
}

@media (max-width: 1200px) {
	.container {
		max-width: 95%;
	}
}

@media (max-width: 940px) {
	.container {
		max-width: 100%;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 66rem;
	}
}

@media (min-width: 1440px) {
	.container {
		width: 82rem;
	}
}

@media (min-width: 1800px) {
	.container {
		width: 100rem;
	}
}

body {
	background-color: var(--bg-color);
}

@layer components {
	.tag {
		padding: 1px;
		@apply px-3 mr-2 my-1 rounded-lg;
	}
}

.category-tag {
	@apply tag mx-4 shadow-md font-bold;
}

.site-name {
	color: var(--deepgray);
}

.site-description {
	@apply text-beargray;
	@apply text-lg;
}

li span {
	@apply font-headline;
}

footer {
	margin-top: .5rem;
	margin-bottom: .5rem;
}

.label sup {
	left: -.1rem;
}

.summary {
	color: #757575;
}

@layer components {
	.seprator {
		content: "";
		display: block;
		height: 2px;
		width: 3rem;
		background: #757575;
	}
}

.relative-article:hover>span {
	color: #fff!important;
}

@variants hover {
	.zoomout {
		transform: scale(1.2)
	}
}

@layer utilities {
	.hover {
		@apply transition;
		@apply duration-200;
		@apply ease-linear;
		@apply shadow-box-shadow;
		@apply text-link;
	}
	.hover:hover {
		@apply shadow-box-shadow-hover;
		@apply text-deeplink;
	}
}

.life-desc>p {
	@apply mb-3
}

@layer utilities {
	.article-link-hover {
		@apply shadow-box-shadow-hover;
		@apply text-deeplink;
	}
	.article-link {
		@apply hover;
	}
	.article-link:hover {
		@apply article-link-hover;
	}
}

article h2, article h3, article h4 {
	@apply pl-5;
	@apply pr-6;
	@apply text-2xl;
	@apply font-medium;
	@apply my-6;
	@apply border-maintext;
	@apply border-l-4;
	@apply leading-loose
}

article h3 {
	@apply text-xl;
}

article h4 {
	@apply text-lg;
}

article blockquote {
	@apply border-l-4;
	@apply border-blockquote;
	@apply pt-3;
	@apply pl-5;
	@apply pr-6;
	@apply pb-3;
	@apply mb-5;
	@apply text-deepgray;
}

article #input {
	@apply pl-6;
}

content p {
	@apply text-justify;
}

content p > img {
	@apply mx-auto;
}

content a {
	@apply article-link;
	@apply mx-1;
}

content a:hover {
	@apply article-link-hover;
}

content > p {
	@apply px-6;
	@apply mb-3;
}

content hr {
	@apply seprator;
	@apply mx-6;
	@apply my-6;
	@apply w-24;
	@apply border-none;
}

content > ol, content > ul, section > ol {
	@apply pl-16;
	@apply my-2;
}

content > ol ol, content > ol ul, content > ul ol, content > ul ul {
	padding-left: 3rem;
}

content ol {
	@apply list-decimal;
}

content ul {
	@apply list-disc;
}

content li {
	@apply pr-6;
	@apply my-2;
}

content li:sm {
	@apply pr-4;
}

content pre {
	@apply pl-6;
	@apply my-4;
	@apply font-code;
}

content p > code {
	@apply text-codecolor;
	white-space: pre-wrap;
	word-break: break-all;
}

content code {
	@apply text-codecolor;
	@apply text-code;
	@apply mx-1;
	@apply px-2;
	border-radius: 0.2rem;
	background-color: var(--slightgray);
}

content pre>code {
	background-color: unset;
	color: unset;
	margin: unset;
	padding: unset;
}

content code,
pre {
	@apply font-code;
}

content .highlight {
	@apply my-6;
}

content .highlight table {
	@apply text-left;
}

content table {
	@apply text-center;
	@apply table-auto;
	@apply mx-auto;
	@apply mb-8;
}

content table tr>th {
	@apply px-4;
	@apply py-2;
}

content table tr>td {
	@apply border;
	@apply px-4;
	@apply py-2;
}

content {
	@apply leading-relaxed;
}

@screen sm {
    article h2, article h3, article h4 {
          padding-left: 1rem;
      }
    article h2, article h3, article h4 {
          padding-right: 1.25rem;
      }
    article blockquote {
          padding-left: 1rem;
      }
    article blockquote {
          padding-right: 1.25rem;
      }
    article #input {
          padding-left: 1.25rem;
      }
    content > p {
          padding-left: 1.25rem;
          padding-right: 1.25rem;
      }
    content hr {
          margin-left: 1.25rem;
          margin-right: 1.25rem;
      }
    content ol, content ul {
          padding-left: 3rem;
      }
    content > ol ol, content > ol ul, content > ul ol, content > ul ul {
          padding-left: 2.5rem;
      }
    content pre {
          padding-left: 1.25rem;
      }
    content table tr > th {
          padding-left: 1rem;
          padding-right: 1rem;
      }
    content table tr > td {
          padding-left: 1rem;
          padding-right: 1rem;
      } }
  


#TableOfContents li {
		@apply pl-4;
		@apply my-1;
	}
#TableOfContents li a {
			@apply px-2;
			@apply py-1;
		}
#TableOfContents li a:hover {
			@apply text-hyper;
			@apply transition;
			@apply duration-300;
		}

#TableOfContents {
	@apply text-left;
	@apply text-tagborder;
	@apply mt-2;
}

.card-title {
	text-shadow: 1px 1px 8px #444;
}

.card-tag {
	text-shadow: 1px 1px 2px #444;
}

@variants hover {
	.link-card-shadow {
		box-shadow: 0 8px 20px var(--boxshadow-light), 0 0 2px var(--boxshadow-deep);
	}
}

.link-card {
	@apply transition;
	@apply ease-linear;
	@apply duration-300;
}

footer>svg {
	width: 1.25rem!important;
}

@screen md {
	.navbar-collapse {
		max-height: 0;
		transition: max-height 0.6s cubic-bezier(0, 1, 0, 1);
		@apply overflow-hidden;
	}
	.navbar-collapse.expanded {
		max-height: 22.5rem;
		transition: max-height 0.6s ease-in-out;
	}
}

.menu {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.line {
	fill: none;
	stroke: #bababa;
	stroke-width: 6;
	transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}

.line2 {
	stroke-dasharray: 60 60;
	stroke-width: 6;
}

.line3 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}

.opened .line1 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}

.opened .line2 {
	stroke-dasharray: 1 60;
	stroke-dashoffset: -30;
	stroke-width: 6;
}

.opened .line3 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}

@layer utilities {
	.vertical-text {
		writing-mode: tb-rl;
		-webkit-writing-mode: vertical-rl;
		writing-mode: vertical-rl;
	}
}

@layer base {
	.light-theme {
		--article-headline: rgba(0, 0, 0, 0.5);
		--color-mode: 'light';
		--bg-color: #f5f5f8;
		--button: #3d4962;
		--hyper: #0085a1;
		--deepgray: #3e3e3e;
		--beargray: #212121;
		--lightgray: #bfbfbf;
		--tagborder: #595959;
		--blockquote: #d1d1d1;
		--bqbg: #fffff0;
		--link: #294257;
		--deeplink: #192244;
		--slightgray: #eee;
		--main-text: #121212;
		--content-bg: #fffffd;
		--tag-bg-hover: rgba(0, 0, 0, .07);
		--tag-bg-deeper: rgba(0, 0, 0, 0.13);
		--headline: #edf2f7;
		--code: #e53e3e;
		--svg: #4a5568;
		--bqborder: #faf089;
		--category-tag: #fff;
		--boxshadow-light: rgba(0, 2, 4, 0.08);
		--boxshadow-deep: rgba(0, 2, 4, 0.14);
		--card-cover: #83b0b0;
		/* chroma */
		--chroma-bg: #f0f3f3;
		--chroma-err: #aa0000;
		--chroma-err-bg: #ffaaaa;
		--chroma-hl: #ffffcc;
		--chroma-lnt: #7f7f7f;
		--chroma-k: #006699;
		--chroma-na: #330099;
		--chroma-nb: #336666;
		--chroma-nc: #00aa88;
		--chroma-no: #336600;
		--chroma-nd: #9999ff;
		--chroma-ni: #999999;
		--chroma-ne: #cc0000;
		--chroma-nf: #cc00ff;
		--chroma-nl: #9999ff;
		--chroma-nn: #00ccff;
		--chroma-nt: #330099;
		--chroma-nv: #003333;
		--chroma-s: #cc3300;
		--chroma-sr: #33aaaa;
		--chroma-ss: #ffcc33;
		--chroma-m: #ff6600;
		--chroma-o: #555555;
		--chroma-ow: #000000;
		--chroma-c: #0099ff;
		--chroma-cp: #009999;
		--chroma-gd: #ffcccc;
		--chroma-gr: #ff0000;
		--chroma-gh: #003300;
		--chroma-gi: #ccffcc;
		--chroma-go: #aaaaaa;
		--chroma-gp: #000099;
		--chroma-gu: #003300;
		--chroma-gt: #99cc66;
		--chroma-w: #bbbbbb;
	}
	.dark-theme {
		--article-headline: rgba(253, 253, 253, 0.4);
		--bg-color: #282828;
		--hyper: #FF7A5D;
		--button: #c2b69d;
		--deepgray: #bebebe;
		--beargray: #999999;
		--lightgray: #404040;
		--tagborder: #929292;
		--blockquote: #636363;
		--bqbg: #35302c;
		--link: #d8bba3;
		--deeplink: '#d6ddbb';
		--slightgray: rgb(56, 56, 56);
		--main-text: rgb(235, 235, 235);
		--content-bg: #2e2e2e;
		--tag-bg-hover: rgba(255, 255, 255, .07);
		--tag-bg-deeper: rgba(255, 255, 255, 0.13);
		--headline: #e4e4e4;
		--code: #6bcece;
		--svg: #b5aa97;
		--bqborder: #79614c;
		--category-tag: rgb(224, 224, 224);
		--boxshadow-light: rgba(250, 250, 250, 0.08);
		--boxshadow-deep: rgba(250, 248, 245, 0.14);
		--card-cover: #515b5b;
		/* chroma */
		--chroma-bg: #2f1e2e;
		--chroma-t: #e7e9db;
		--chroma-err: #ef6155;
		--chroma-err-bg: #ffaaaa;
		--chroma-hl: #ffffcc;
		--chroma-lnt: #7f7f7f;
		--chroma-k: #815ba4;
		--chroma-kn: #5bc4bf;
		--chroma-kt: #fec418;
		--chroma-na: #06b6ef;
		--chroma-nb: #336666;
		--chroma-nc: #fec418;
		--chroma-no: #ef6155;
		--chroma-nd: #5bc4bf;
		--chroma-ni: #999999;
		--chroma-ne: #ef6155;
		--chroma-nf: #06b6ef;
		--chroma-nl: #9999ff;
		--chroma-nn: #fec418;
		--chroma-nt: #5bc4bf;
		--chroma-nv: #ef6155;
		--chroma-nx: #06b6ef;
		--chroma-s: #48b685;
		--chroma-sd: #776e71;
		--chroma-sr: #33aaaa;
		--chroma-ss: #ffcc33;
		--chroma-m: #ff6600;
		--chroma-o: #5bc4bf;
		--chroma-l: #f99b15;
		--chroma-ow: #5bc4bf;
		--chroma-c: #0099ff;
		--chroma-cp: #009999;
		--chroma-gd: #ffcccc;
		--chroma-gr: #ff0000;
		--chroma-gh: #003300;
		--chroma-gi: #ccffcc;
		--chroma-go: #aaaaaa;
		--chroma-gp: #000099;
		--chroma-gu: #003300;
		--chroma-gt: #99cc66;
		--chroma-w: #bbbbbb;
		--chroma-c: #776e71;
	}
}
:root .chroma {
    background-color: var(--chroma-bg); }
  :root .chroma .err {
    color: var(--chroma-err);
    background-color: var(--chroma-err-bg); }
  :root .chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0; }
  :root .chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
    width: auto;
    overflow: auto;
    display: block; }
  :root .chroma .hl {
    display: block;
    width: 100%;
    background-color: var(--chroma-hl); }
  :root .chroma .lnt {
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: var(--chroma-lnt); }
  :root .chroma .ln {
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: var(--chroma-lnt); }
  :root .chroma .k {
    color: var(--chroma-k);
    font-weight: bold; }
  :root .chroma .kc {
    color: #006699;
    font-weight: bold; }
  :root .chroma .kd {
    color: var(--chroma-k);
    font-weight: bold; }
  :root .chroma .kn {
    color: var(--chroma-k);
    font-weight: bold; }
  :root .chroma .kp {
    color: var(--chroma-k); }
  :root .chroma .kr {
    color: var(--chroma-k);
    font-weight: bold; }
  :root .chroma .kt {
    color: var(--chroma-k);
    font-weight: bold; }
  :root .chroma .na {
    color: var(--chroma-na); }
  :root .chroma .nb {
    color: var(--chroma-nb); }
  :root .chroma .nc {
    color: var(--chroma-nc);
    font-weight: bold; }
  :root .chroma .no {
    color: var(--chroma-no); }
  :root .chroma .nd {
    color: var(--chroma-nd); }
  :root .chroma .ni {
    color: var(--chroma-ni);
    font-weight: bold; }
  :root .chroma .ne {
    color: var(--chroma-ne);
    font-weight: bold; }
  :root .chroma .nf {
    color: var(--chroma-nf); }
  :root .chroma .nl {
    color: var(--chroma-nl); }
  :root .chroma .nn {
    color: var(--chroma-nn);
    font-weight: bold; }
  :root .chroma .nt {
    color: var(--chroma-nt);
    font-weight: bold; }
  :root .chroma .nv {
    color: var(--chroma-nv); }
  :root .chroma .s {
    color: var(--chroma-s); }
  :root .chroma .sa {
    color: var(--chroma-s); }
  :root .chroma .sb {
    color: var(--chroma-s); }
  :root .chroma .sc {
    color: var(--chroma-s); }
  :root .chroma .dl {
    color: var(--chroma-s); }
  :root .chroma .sd {
    color: var(--chroma-s);
    font-style: italic; }
  :root .chroma .s2 {
    color: var(--chroma-s); }
  :root .chroma .se {
    color: var(--chroma-s);
    font-weight: bold; }
  :root .chroma .sh {
    color: var(--chroma-s); }
  :root .chroma .si {
    color: var(--chroma-err); }
  :root .chroma .sx {
    color: var(--chroma-s); }
  :root .chroma .sr {
    color: var(--chroma-sr); }
  :root .chroma .s1 {
    color: var(--chroma-s); }
  :root .chroma .ss {
    color: var(--chroma-ss); }
  :root .chroma .m {
    color: var(--chroma-m); }
  :root .chroma .mb {
    color: var(--chroma-m); }
  :root .chroma .mf {
    color: var(--chroma-m); }
  :root .chroma .mh {
    color: var(--chroma-m); }
  :root .chroma .mi {
    color: var(--chroma-m); }
  :root .chroma .il {
    color: var(--chroma-m); }
  :root .chroma .mo {
    color: var(--chroma-m); }
  :root .chroma .o {
    color: var(--chroma-o); }
  :root .chroma .ow {
    color: var(--chroma-ow);
    font-weight: bold; }
  :root .chroma .c {
    color: var(--chroma-c);
    font-style: italic; }
  :root .chroma .ch {
    color: var(--chroma-c);
    font-style: italic; }
  :root .chroma .cm {
    color: var(--chroma-c);
    font-style: italic; }
  :root .chroma .c1 {
    color: var(--chroma-c);
    font-style: italic; }
  :root .chroma .cs {
    color: var(--chroma-c);
    font-weight: bold;
    font-style: italic; }
  :root .chroma .cp {
    color: var(--chroma-cp); }
  :root .chroma .cpf {
    color: var(--chroma-cp); }
  :root .chroma .gd {
    background-color: var(--chroma-gd); }
  :root .chroma .ge {
    font-style: italic; }
  :root .chroma .gr {
    color: var(--chroma-gr); }
  :root .chroma .gh {
    color: var(--chroma-gh);
    font-weight: bold; }
  :root .chroma .gi {
    background-color: var(--chroma-gi); }
  :root .chroma .go {
    color: var(--chroma-go); }
  :root .chroma .gp {
    color: var(--chroma-gp);
    font-weight: bold; }
  :root .chroma .gs {
    font-weight: bold; }
  :root .chroma .gu {
    color: var(--chroma-gu);
    font-weight: bold; }
  :root .chroma .gt {
    color: var(--chroma-gt); }
  :root .chroma .gl {
    text-decoration: underline; }
  :root .chroma .w {
    color: var(--chroma-w); }

:root {
	@apply light-theme;
	/* Background */
}

@media (prefers-color-scheme: dark) {
	 :root {
		--color-mode: 'dark';
	}
	 :root:not([data-theme]) {
		@apply dark-theme;
	}
}

[data-theme="dark"] {
	@apply dark-theme;
}

.menus:hvoer span {
	@apply text-hyper;
}

#search-results b {
	color: var(--code)!important;
	font-style: unset;
	font-weight: unset;
}

input {
	background-color: var(--content-bg);
}


/* .article-summary > p::first-letter{
	@apply text-2xl;
}
.article-summary {
	text-indent: 2rem;
} */
progress::-moz-progress-bar { background: rgba(255, 255, 255, 0.7); }
progress::-webkit-progress-value { background: rgba(255, 255, 255, 0.7); }
#summary {
	display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
content a[target=_blank]::after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="rgb(198, 198, 198)"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" /></svg>') ;
	width: 1rem;
	margin-left: 2px;
	margin-top: 2px;
	position: absolute;
	display: inline-block;
}

content a[target=_blank] {
	margin-right: 1.25rem;
}