{{ if not (in .Site.Params.mainSections .Type) }}

<div class="inline-flex items-center flex-wrap my-1 pb-2">
    {{ (resources.Get "icons/collections.svg").Content | safeHTML}}
    <span class="text-lg uppercase text-[#44403c] dark:text-[#d6d3d1] my-1 pl-5 font-headline">Archives</span>
</div>
<div class="w-full space-y-2 items-center flex-col max-h-60 overflow-y-auto">
    {{ $all := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $published := where site.RegularPages "Params.published" "!=" false }}
    {{ $pages := ($all | intersect $published) }}
    {{ $archives := $pages.GroupByDate "2006" }}
    {{ range $index, $item := first .Site.Params.archiveYears $archives }}
    {{ $id := lower (replace $item.Key " " "-") }}
    <a href="/archives/#{{ $id }}"
        class="pointer-default h-10 border-transparent archives-info border hover:border-[#3F3F46] dark:hover:border-[#a8a29e]  text-[#3F3F46] dark:text-[#a8a29e]  bg-[#fffffd] dark:bg-[#2e2e2e] px-3 mr-2 my-1 rounded-lg text-xs w-full flex items-center transition ease-linear duration-300 px-3 mr-2 my-1">
        <div class="flex items-center justify-between w-full">
            <div class="text-sm px-5">{{ .Key }}</div>
            <div class="text-sm px-5 text-[#3F3F46] dark:text-[#a8a29e]  archives-count">{{ len $item.Pages }}</div>
        </div>
    </a>
    {{ end }}
</div>
</div>
<div class="seprator mt-6 mb-3"></div>

{{end}}