{{ if in .Site.Params.mainSections .Type }}

<div class="inline-flex items-center flex-wrap my-1 font-headline">
    {{ (resources.Get "icons/clock.svg").Content | safeHTML}}
    <span class="uppercase text-[#3F3F46] dark:text-[#a8a29e]  my-1 pl-5">Posted in <span
            class="text-[#404040] dark:text-[#d4d4d4]">
            {{ dateFormat " Jan 2, 2006" .Date }}</span> </span>
</div>
<div class="inline-flex items-center flex-wrap my-1 font-headline">
    {{ (resources.Get "icons/doc-stat.svg").Content | safeHTML}}
    <span class="uppercase text-[#3F3F46] dark:text-[#a8a29e]  my-1 pl-5">Article has <span
            class="text-[#404040] dark:text-[#d4d4d4]">
            {{ .WordCount }}</span>
        words</span>
</div>
<div class="inline-flex items-center flex-wrap my-1 font-headline">
    {{ (resources.Get "icons/eye.svg").Content | safeHTML}}
    <span class="uppercase text-[#3F3F46] dark:text-[#a8a29e]  my-1 pl-5">It takes <span
            class="text-[#404040] dark:text-[#d4d4d4]">
            {{ div .WordCount 500 }}</span>
        minute(s) read</span>
</div>
<div class="seprator my-5"></div>
{{end}}