<div class="flex justify-between text-beargray uppercase font-headline">
    {{ $all := where site.RegularPages ".Section" "in" site.Params.mainSections }}
    {{ $published := where site.RegularPages "Params.published" "!=" false }}
    {{ $paginator := .Paginate ( $all | intersect $published) }}
    {{ if $paginator.HasPrev }}
    <a href="{{ $paginator.Prev.URL }}">

        <div
            class="border-2 flex font-medium shadow-sm items-center text-beargray border-lightgray hover:border-beargray text-center bg-contentbg rounded px-5 py-3 link-card">
            <svg class="mr-2" width="24" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M1.02698 11.9929L5.26242 16.2426L6.67902 14.8308L4.85766 13.0033L22.9731 13.0012L22.9728 11.0012L4.85309 11.0033L6.6886 9.17398L5.27677 7.75739L1.02698 11.9929Z"
                    fill="currentColor" />
            </svg>
            Newer
        </div>
    </a>
    {{ else }}
    <div class=""></div>
    {{ end }}
    {{ if $paginator.HasNext }}
    <a href="{{ $paginator.Next.URL }}">
        <div
            class="border-2 flex font-medium shadow-sm items-center text-beargray border-lightgray hover:border-beargray text-center bg-contentbg rounded px-5 py-3 link-card">
            Older
            <svg class="ml-2" width="24" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M23.0677 11.9929L18.818 7.75739L17.4061 9.17398L19.2415 11.0032L0.932469 11.0012L0.932251 13.0012L19.2369 13.0032L17.4155 14.8308L18.8321 16.2426L23.0677 11.9929Z"
                    fill="currentColor" />
            </svg>
        </div>
    </a>
    {{ else }}
    <div class=""></div>
    {{ end }}
</div>