{{ $category := .Params.Category }}
{{ $title := .Params.Title }}

<div class="w-full pt-4 pb-6">

    <div class="mb-4">
        <span class="text-base font-headline text-[#41555d] dark:text-[#b5b5b5]">相关文章</span>
    </div>
    <ol class="text-left text-[#44403c] leading-7 w-full dark:text-[#d6d3d1]">
        {{range first 6 (index .Site.Taxonomies.category $category)}}
        {{ if ne .Title $title }}
        <li>
            <footer class=" shadow-none my-2 text-sm mb-0 mt-3 dark:shadow-none">
                {{ dateFormat "2006-01-02" .Params.Date }}
            </footer>
            <a href="{{.Permalink}}"
                class="border-none !bg-transparent hover:text-[#065279] dark:hover:text-[#ffa631] transition ease-linear duration-300">
                {{.Title}}
            </a>
        </li>
        {{ end }}
        {{end}}
    </ol>
</div>