{{ if not (in .Site.Params.mainSections .Type) }}

<div class="text-tagborder flex flex-col items-start md:mx-0 ">
    <div class="inline-flex items-center flex-wrap my-1 pb-1">
        {{ (resources.Get "icons/tag.svg").Content | safeHTML }}
        <span class="text-lg uppercase my-1 pl-5 font-headline">
            {{ if in .Site.Params.mainSections .Type }}
            Tags
            {{ else }}
            Featured tags
            {{ end }}
        </span>
    </div>
    <div class="flex-wrap flex text-beargray pb-1 font-button h-77 xxl:h-full overflow-hidden xxl:overflow-visible ">
        {{ $.Scratch.Set "tags" (slice) }}
        {{ partial "widget/right-side/site-tags" . }}

    </div>
    {{ if in .Site.Params.mainSections .Type }}
    <div class="seprator mt-6 mb-3"></div>
    {{ end }}
</div>
{{ end }}