<div
    class="text-[#41555d] rounded dark:text-[#b5b5b5] relative leading-7 text-[.9375rem] dark:text-[#d6d3d1] bg-[#f9f9f9] dark:bg-[#444] mt-6  font-headline">
    <div class="h-0 w-0 mr-36 ml-auto text-[#e1e1e1] dark:text-[#41555d]">
        {{ (resources.Get "icons/cc.svg").Content | safeHTML }}
    </div>

    <div class="p-8">
        <div>
            <p class=" text-[#161823] dark:text-[#f0f0f4]">{{ .Title }}</p>
            <p>{{ .Permalink }}</p>
        </div>
        <div class="flex flex-wrap">
            <div class="flex-none mr-12 mt-4">
                <p class=" text-[#161823] dark:text-[#f0f0f4]">作者</p>
                <p>{{site.Author.name }}</p>
            </div>
            <div class="flex-none mr-12 mt-4">
                <p class=" text-[#161823] dark:text-[#f0f0f4]">更新于</p>
                <p>{{ dateFormat "Jan 2, 2006" .Params.Updated }}</p>
            </div>
            <div class="flex-none mt-4">
                <p class=" text-[#161823] dark:text-[#f0f0f4]">许可协议</p>
                <p>
                    <a class="text-[#065279] dark:text-[#ffa631]"
                        href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.zh" target="_blank" rel="noopener">
                        CC BY-NC-ND 4.0
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>