{{ if eq .style "span" }}
<span class="text-base text-hyper px-1">
    <a href="{{ .link }}" class="hover" title="{{ .name }}">{{ .name }}</a>
</span>
{{ else if eq .style "button" }}
<div style="line-height: 32px; box-shadow: rgba(0,0,0,.4) 0px 0px 2px" level="{{ .count }}"
    class="text-beargray border-tagborder bg-contentbg hover:bg-tagbghover cursor-pointer text-code bg-opacity-25 hover:bg-opacity-50 px-button mx-1 my-1 font-button inline-block transition ease-linear duration-300 rounded-full">
    <a href="{{ .link }}" title="{{ .name }}">
        {{ .name }}
    </a>

</div>
{{ end }}