{{ if eq .style "span" }}
<span class="text-base text-hyper px-1">
    <a href="{{ .link }}" class="hover" title="{{ .name }}">{{ .name }}</a>
</span>
{{ else if eq .style "button" }}
<div style="line-height: 22px;"
    class="border-tagborder label text-beargray cursor-pointer bg-contentbg hover:bg-tagbghover hover:bg-opacity-6 border text-sm px-button mx-1 my-1 py-1 font-button transform inline-block transition ease-linear duration-300 rounded-full">
    <a href="{{ .link }}" title="{{ .name }}">
        {{ .name }}
        <sup class="font-bold">{{ .count }}</sup>
    </a>

</div>
{{ end }}