<div class="flex h-14 <sm:justify-center">

    <!-- site meta -->
    <a href="{{ .Site.BaseURL }}"
        class="flex h-full items-center text-[##392f41] hover:bg-[#f0f0f4] dark:hover:bg-[#464646] cursor-pointer px-3 space-x-3">
        <img src="{{ .Site.Params.avatar }}" alt="avatar" id="avatar" class="rounded-full w-9 h-9 <sm:w-8 <sm:h-8"
            width="36px" height="36px">
        <h1 class="text-[22px] font-headline subpixel-antialiased font-medium">
            {{ .Site.Title }}
        </h1>

    </a>

</div>