<div class="flex h-14">

    <!-- site meta -->
    <div class="flex h-14 items-center">
        <img src="{{ .Site.Params.avatar }}" alt="avatar" class="rounded-full shadow w-10 h-10" width="40px"
            height="40px">
        <h1 class="text-xl mx-4 subpixel-antialiased font-normal">
            {{ .Site.Title }}
        </h1>

    </div>
    <ul class="flex h-full">
        {{ $currentNode := . }}
        {{ range .Site.Menus.main }}
        {{ $isCurrent := eq (.URL | absLangURL) ($.Page.Permalink) }}
        <li class="h-full hover:bg-gray-300 px-3 transition ease-linear duration-200 dark:hover:text-orange-500">
            <a href="{{ .URL }}" class="h-full flex items-center">
                <span class="items-center">{{ .Name }}</span>
            </a>
        </li>
        {{ end }}
    </ul>

</div>