<div class="flex h-14 <sm:justify-center <sm:h-12">

    <!-- site meta -->
    <a href="{{ .Site.BaseURL }}"
        class="flex h-full items-center  hover:bg-[#f6f6f6] dark:hover:bg-[#464646] cursor-pointer px-3 space-x-3">
        <img src="{{ .Site.Params.avatar }}" alt="avatar" class="rounded-full shadow w-9 h-9 <sm:w-8 <sm:h-8"
            width="36px" height="36px">
        <h1 class="text-[22px] subpixel-antialiased font-medium">
            {{ .Site.Title }}
        </h1>

    </a>

</div>