<h1
    class="py-4 <sm:px-4 dark:text-[#f8fafc] <lg:text-2xl <md:text-size-[22px]  font-headline text-[#392f41] dark:text-[#f0f0f4] text-size-[1.75rem] font-medium w-full text-[#44403c] leading-8">
    {{ .Title }}
</h1>

<div id="tags"
    class="leading-8 text-base lg:pl-1 <sm:px-4 space-x-4 pt-4 pb-2 hyphens-auto whitespace-nowrap flex items-center overflow-x-scroll dark:text-[#f8fafc] text-[#392f41]">
    {{ $all := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $published := where site.RegularPages "Params.published" "!=" false }}
    {{ $pages := ($all | intersect $published) }}
    {{ $archives := $pages.GroupByDate "2006" }}
    {{ range $index, $item := $archives }}
    {{ $id := lower (replace $item.Key " " "-") }}
    <div id="xx{{$id}}" data-id="{{ $id }}" data-index="{{ $index }}" data-total="{{ len $archives }}"
        onclick="hideArchives(this)"
        class="  cursor-pointer bg-[#fffeff] dark:bg-[#2e2e2e] rounded-lg card-outline border-opacity-80  {{ if (eq $index 0) }} card-shadow {{end}}">
        <p class="leading-8 px-5">{{ .Key }}</p>
    </div>
    {{ end }}
</div>

{{ $all := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ $published := where site.RegularPages "Params.published" "!=" false }}
{{ $pages := ($all | intersect $published) }}
{{ $archives := $pages.GroupByDate "2006" }}
{{ range $archives }}
<div id="s-{{ .Key }}">
    <h2 class="py-4 mt-3 <sm:px-4 leading-8 text-size-[24px] font-headline <md:text-size-[20px]" id="{{ .Key }}">
        {{ .Key }}</h2>
    <p class="mb-5 mt-2 <sm:px-4 leading-8 text-size-[22px] font-headline <md:text-size-[18px]">共计 {{ len .Pages }} 篇文章
    </p>
    <div class="flex flex-wrap justify-between <md:mb-10">
        {{ range .Pages }}
        {{ partial "core/card-small" . }}
        {{ end }}
        <div class="w-[calc(100%/3-1rem)]"></div>
    </div>

</div>
{{ $id := lower (replace .Key " " "-") }}
{{ end }}