<div class="rounded-big font-sans">
    <h1 class="uppercase pb-4 text-maintext text-title font-medium w-full site-name py-2 sm:px-4">
        {{ .Title }}
    </h1>
    <div class="categories-list space-x-2 overflow-auto w-full mx-auto my-5 flex py-2">
        {{ $covers := site.Params.Category }}
        {{ range .Site.Taxonomies.category }}

        <div class="rounded-lg my-1 bg-cover h-48 items-center flex justify-center lazy bg-center link-card"
            data-src="{{ index $covers .Page.Title }}" style="flex: 0 0 14rem;">
            <a href={{ .Page.Permalink }}>
                <span class="text-xl text-beargray-200 card-title">{{ .Page.Title }}（{{ .Count }}）</span>
            </a>
        </div>
        {{ end }}
    </div>


    {{ $all := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $published := where site.RegularPages "Params.published" "!=" false }}
    {{ $pages := ($all | intersect $published) }}
    {{ $archives := $pages.GroupByDate "2006" }}
    {{ range $archives }}
    <h2 class="pb-8 mt-6 text-maintext text-2xl sm:px-4" id="{{ .Key }}">{{ .Key }}</h2>
    <div class="card-compact-list space-y-6">
        {{ range .Pages }}
        {{ partial "core/card-compact" . }}
        {{ end }}
    </div>
    {{ $id := lower (replace .Key " " "-") }}
    {{ end }}


</div>
{{ partial "footer/site-footer.html" . }}