<div class="bg-contentbg rounded-big shadow-lg font-sans overflow-hidden">
    <style>
        .cover {
            background-image: url("{{ .Params.cover }}");
        }
    </style>
    <div id="article-cover" class="flex cover content-end flex-wrap bg-cover w-full bg-center h-64 box-border mb-3">
    </div>
    {{ partial "core/main-text" . }}

    {{ partial "widget/disqus" . }}
</div>
{{ if in .Site.Params.mainSections .Type }}
{{ partial "widget/neighbor" . }}
{{ end }}
{{ partial "footer/site-footer" . }}