{{ if (in .Site.Params.mainSections .Type)}}
<style>
    @media(max-width: 767.9px) {
        aside {
            display: none;
        }
    }
</style>
{{end}}


<div class="text-[0.9375rem] rounded relative flex-none top-10 sticky  text-[#392f41] dark:text-[#f0f0f4]">
    <div class="w-full <sm:w-[calc(100%-2rem)] mx-auto relative">
        <div class="relative">
            {{ partial "widget/seprator" . }}
        </div>
        {{ if not (in .Site.Params.mainSections .Type) }}
        {{ partial "widget/stats" . }}
        <div class="relative mt-6 <sm:hidden">
            {{ partial "widget/seprator" . }}
        </div>
        {{ partial "widget/right-side/category" . }}
        <div class="relative mt-6">
            {{ partial "widget/seprator" . }}
        </div>
        {{ partial "widget/tag-clouds" . }}
        {{else}}
        {{ partial "widget/seprator" . }}
        {{ partial "widget/catalog" . }}
        <div class="relative mt-6">
            {{ partial "widget/seprator" . }}
        </div>
        {{ partial "widget/related" . }}
        {{end}}
    </div>
</div>