<aside class="w-80 flex-shrink-0">

    <div
        class="text-[0.9375rem] w-full px-3 bg-[#fffffd] dark:bg-[#2e2e2e] relative flex-none top-10 sticky border border-[#dcdcdc] border-opacity-50 text-[#393939]">
        {{ partial "widget/seprator" . }}
        {{ partial "widget/stats" . }}
        <div class="relative mt-6">
            {{ partial "widget/seprator" . }}
        </div>
        {{ partial "widget/right-side/category" . }}
        <div class="relative mt-6">
            {{ partial "widget/seprator" . }}
        </div>
        {{ partial "widget/tag-clouds" . }}
    </div>
</aside>