<div class="flex flex-none lg:hidden w-1/4 xl:ml-8 xxl:ml-12 xl:w-1/5 md:w-19/20 md:mx-auto md:hidden">
    <div class="text-beargray-200 text-center py-2 sidebar w-full sticky top-10 self-start">
        <div class="text-beargray-600 flex flex-col items-start">
            {{ partial "widget/archives" . }}
            {{ partial "widget/tag-clouds" . }}
            {{ partial "widget/catalog" . }}
            {{ partial "widget/related" . }}
            <div class="h-48"></div>
        </div>
    </div>
</div>