<div class="rounded-big font-sans">
    <h1 class="uppercase pb-4 text-maintext text-title font-meidum w-full site-name py-2 sm:px-4">
        {{ .Title }}
    </h1>
    <div id="svelte" style="min-height: 40px;" class="mt-4"></div>
    {{$.Scratch.Set "svelte" false}}
    <article id="search-hint" class="mt-8">

        <content>
            <p class="">支持的搜索格式：</p>
            <ol class="">
                <li>关键词搜索：Python、Linux；</li>
                <li>时间段搜索：range:2020-01-01~、range:~2020-01-01、range:2018-01-01~2020-01-01；</li>
                <li>标签或分类搜索：tags:Python，category:分享境；</li>
                <li>以上可组合。</li>
            </ol>
        </content>
    </article>

</div>
{{ partial "footer/site-footer.html" . }}