<div class="rounded-[.75rem]">
    <h1
        class="uppercase pb-4 dark:text-[#f8fafc] text-[#392f41] text-size-[1.75rem] leading-[unset] font-meidum w-full text-[#44403c] dark:text-[#d6d3d1] py-2">
        {{ .Title }}
    </h1>
    <div id="svelte" style="min-height: 40px;" class="mt-4"></div>
    {{$.Scratch.Set "svelte" false}}
    <article id="search-hint" class="mt-8">

        <content>
            <p>支持的搜索格式：</p>
            <ol class="">
                <li>关键词搜索：Python、Linux；</li>
                <li>时间段搜索：range:2020-01-01~、range:~2020-01-01、range:2018-01-01~2020-01-01；</li>
                <li>标签或分类搜索：tags:Python，category:分享境；</li>
                <li>以上可组合。</li>
            </ol>
        </content>
    </article>

</div>