<!DOCTYPE html>
<html lang="en">

{{ partial "head/head.html" . }}
{{$.Scratch.Set "svelte" true}}

<body class="antialiased text-maintext">
    <div class="container mx-auto my-10 md:w-full">
        <div class="flex mx-auto sm:block md:block lg:max-lg-w-screen lg:justify-between">
            {{ partial "frame/left-part" . }}
            <div
                class="py-2 content-center overflow-hidden px-3 sm:px-0 flex-grow md:w-19/20 sm:w-full article-list md:mx-auto space-y-12">
                {{ block "main" . }}{{ end }}
            </div>
            {{ partial "frame/right-part" . }}
        </div>
    </div>
    {{if $.Scratch.Get "svelte" }}
    <div id="svelte"></div>
    {{end}}
</body>
{{ if .Site.IsServer }}
<script async crossorigin defer src="/bundle.js"></script>
{{ else }}
<script async crossorigin defer
    src="https://cdn.jsdelivr.net/npm/{{ .Site.Params.StaticVendor.version }}/js/defer.prod.js"></script>
{{ end }}
<script>
    window.disqusUserName = {{ .Site.Params.disqusUserName }}
    window.backendAPI = {{ .Site.Params.backendAPI }}
</script>

</html>