<!DOCTYPE html>
<html lang="zh-Hans">

{{ partial "head/head.html" . }}
{{$.Scratch.Set "svelte" true}}

<body class="antialiased dark:text-[#f4f4f5] text-[#1c1917] font-maintext transition ease-linear duration-300">
    {{ partial "frame/header-part" . }}
    <div class="mx-auto w-320">
        <div class="lg:flex mx-auto sm:block space-x-8 pt-10">
            <div class="flex-grow">
                {{ block "main" . }}{{ end }}
            </div>
            {{ partial "frame/aside-part" . }}
        </div>
    </div>
    {{if $.Scratch.Get "svelte" }}
    <div id="svelte"></div>
    {{end}}
    {{ partial "footer/site-footer.html" . }}
</body>
{{ if .Site.IsServer }}
<script async crossorigin defer src="/bundle.js"></script>
{{ else }}
<script async crossorigin defer
    src="https://cdn.jsdelivr.net/npm/{{ .Site.Params.StaticVendor.version }}/js/defer.prod.js"></script>
{{ end }}
<script>
    window.disqusUserName = {{ .Site.Params.disqusUserName }}
    window.backendAPI = {{ .Site.Params.backendAPI }}
</script>

</html>