<!DOCTYPE html>
<html lang="en">

{{ partial "head/head.html" . }}

<body class="antialiased text-maintext">
    <div class="container mx-auto my-10 md:w-full">
        <div class="flex mx-auto sm:block md:block lg:max-lg-w-screen lg:justify-between">
            {{ partial "frame/left-part" . }}
            <div
                class="py-2 content-center overflow-hidden px-3 sm:px-0 flex-grow md:w-19/20 sm:w-full article-list md:mx-auto space-y-12">
                {{ block "main" . }}{{ end }}
            </div>
            {{ partial "frame/right-part" . }}
        </div>
    </div>
</body>
<script>
    window.disqusUserName = {{ .Site.Params.disqusUserName }}
    window.backendAPI = {{ .Site.Params.backendAPI }}
</script>

</html>