content a[target=_blank]::after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="rgb(198, 198, 198)"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" /></svg>');
  width: 1rem;
  margin-left: 2px;
  margin-top: 2px;
  position: absolute;
  display: inline-block;
}


.chroma {
  background-color: var(--chroma-bg);
}

.chroma .err {
  color: var(--chroma-err);
  background-color: var(--chroma-err-bg);
}

.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}

.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
  overflow: auto;
  display: block;
}

.chroma .hl {
  display: block;
  width: 100%;
  background-color: var(--chroma-hl);
}

.chroma .lnt {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: var(--chroma-lnt);
}

.chroma .ln {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: var(--chroma-lnt);
}

.chroma .k {
  color: var(--chroma-k);
  font-weight: bold;
}

.chroma .kc {
  color: #006699;
  font-weight: bold;
}

.chroma .kd {
  color: var(--chroma-k);
  font-weight: bold;
}

.chroma .kn {
  color: var(--chroma-k);
  font-weight: bold;
}

.chroma .kp {
  color: var(--chroma-k);
}

.chroma .kr {
  color: var(--chroma-k);
  font-weight: bold;
}

.chroma .kt {
  color: var(--chroma-k);
  font-weight: bold;
}

.chroma .na {
  color: var(--chroma-na);
}

.chroma .nb {
  color: var(--chroma-nb);
}

.chroma .nc {
  color: var(--chroma-nc);
  font-weight: bold;
}

.chroma .no {
  color: var(--chroma-no);
}

.chroma .nd {
  color: var(--chroma-nd);
}

.chroma .ni {
  color: var(--chroma-ni);
  font-weight: bold;
}

.chroma .ne {
  color: var(--chroma-ne);
  font-weight: bold;
}

.chroma .nf {
  color: var(--chroma-nf);
}

.chroma .nl {
  color: var(--chroma-nl);
}

.chroma .nn {
  color: var(--chroma-nn);
  font-weight: bold;
}

.chroma .nt {
  color: var(--chroma-nt);
  font-weight: bold;
}

.chroma .nv {
  color: var(--chroma-nv);
}

.chroma .s {
  color: var(--chroma-s);
}

.chroma .sa {
  color: var(--chroma-s);
}

.chroma .sb {
  color: var(--chroma-s);
}

.chroma .sc {
  color: var(--chroma-s);
}

.chroma .dl {
  color: var(--chroma-s);
}

.chroma .sd {
  color: var(--chroma-s);
  font-style: italic;
}

.chroma .s2 {
  color: var(--chroma-s);
}

.chroma .se {
  color: var(--chroma-s);
  font-weight: bold;
}

.chroma .sh {
  color: var(--chroma-s);
}

.chroma .si {
  color: var(--chroma-err);
}

.chroma .sx {
  color: var(--chroma-s);
}

.chroma .sr {
  color: var(--chroma-sr);
}

.chroma .s1 {
  color: var(--chroma-s);
}

.chroma .ss {
  color: var(--chroma-ss);
}

.chroma .m {
  color: var(--chroma-m);
}

.chroma .mb {
  color: var(--chroma-m);
}

.chroma .mf {
  color: var(--chroma-m);
}

.chroma .mh {
  color: var(--chroma-m);
}

.chroma .mi {
  color: var(--chroma-m);
}

.chroma .il {
  color: var(--chroma-m);
}

.chroma .mo {
  color: var(--chroma-m);
}

.chroma .o {
  color: var(--chroma-o);
}

.chroma .ow {
  color: var(--chroma-ow);
  font-weight: bold;
}

.chroma .c {
  color: var(--chroma-c);
  font-style: italic;
}

.chroma .ch {
  color: var(--chroma-c);
  font-style: italic;
}

.chroma .cm {
  color: var(--chroma-c);
  font-style: italic;
}

.chroma .c1 {
  color: var(--chroma-c);
  font-style: italic;
}

.chroma .cs {
  color: var(--chroma-c);
  font-weight: bold;
  font-style: italic;
}

.chroma .cp {
  color: var(--chroma-cp);
}

.chroma .cpf {
  color: var(--chroma-cp);
}

.chroma .gd {
  background-color: var(--chroma-gd);
}

.chroma .ge {
  font-style: italic;
}

.chroma .gr {
  color: var(--chroma-gr);
}

.chroma .gh {
  color: var(--chroma-gh);
  font-weight: bold;
}

.chroma .gi {
  background-color: var(--chroma-gi);
}

.chroma .go {
  color: var(--chroma-go);
}

.chroma .gp {
  color: var(--chroma-gp);
  font-weight: bold;
}

.chroma .gs {
  font-weight: bold;
}

.chroma .gu {
  color: var(--chroma-gu);
  font-weight: bold;
}

.chroma .gt {
  color: var(--chroma-gt);
}

.chroma .gl {
  text-decoration: underline;
}

.chroma .w {
  color: var(--chroma-w);
}

:root {
  --svg: #4a5568;
  --menu-current: #292524;
  --boxshadow-light: rgba(0, 2, 4, 0.08);
  --boxshadow-deep: rgba(0, 2, 4, 0.14);
  /* chroma */
  --chroma-bg: #f0f3f3;
  --chroma-err: #aa0000;
  --chroma-err-bg: #ffaaaa;
  --chroma-hl: #ffffcc;
  --chroma-lnt: #7f7f7f;
  --chroma-k: #006699;
  --chroma-na: #330099;
  --chroma-nb: #336666;
  --chroma-nc: #00aa88;
  --chroma-no: #336600;
  --chroma-nd: #9999ff;
  --chroma-ni: #999999;
  --chroma-ne: #cc0000;
  --chroma-nf: #cc00ff;
  --chroma-nl: #9999ff;
  --chroma-nn: #00ccff;
  --chroma-nt: #330099;
  --chroma-nv: #003333;
  --chroma-s: #cc3300;
  --chroma-sr: #33aaaa;
  --chroma-ss: #ffcc33;
  --chroma-m: #ff6600;
  --chroma-o: #555555;
  --chroma-ow: #000000;
  --chroma-c: #0099ff;
  --chroma-cp: #009999;
  --chroma-gd: #ffcccc;
  --chroma-gr: #ff0000;
  --chroma-gh: #003300;
  --chroma-gi: #ccffcc;
  --chroma-go: #aaaaaa;
  --chroma-gp: #000099;
  --chroma-gu: #003300;
  --chroma-gt: #99cc66;
  --chroma-w: #bbbbbb;
}


.dark {
  --svg: #b5aa97;
  --menu-current: #d4d4d4;
  --boxshadow-light: rgba(250, 250, 250, 0.08);
  --boxshadow-deep: rgba(250, 248, 245, 0.14);
  /* chroma */
  --chroma-bg: #2f1e2e;
  --chroma-t: #e7e9db;
  --chroma-err: #ef6155;
  --chroma-err-bg: #ffaaaa;
  --chroma-hl: #ffffcc;
  --chroma-lnt: #7f7f7f;
  --chroma-k: #815ba4;
  --chroma-kn: #5bc4bf;
  --chroma-kt: #fec418;
  --chroma-na: #06b6ef;
  --chroma-nb: #336666;
  --chroma-nc: #fec418;
  --chroma-no: #ef6155;
  --chroma-nd: #5bc4bf;
  --chroma-ni: #999999;
  --chroma-ne: #ef6155;
  --chroma-nf: #06b6ef;
  --chroma-nl: #9999ff;
  --chroma-nn: #fec418;
  --chroma-nt: #5bc4bf;
  --chroma-nv: #ef6155;
  --chroma-nx: #06b6ef;
  --chroma-s: #48b685;
  --chroma-sd: #776e71;
  --chroma-sr: #33aaaa;
  --chroma-ss: #ffcc33;
  --chroma-m: #ff6600;
  --chroma-o: #5bc4bf;
  --chroma-l: #f99b15;
  --chroma-ow: #5bc4bf;
  --chroma-c: #0099ff;
  --chroma-cp: #009999;
  --chroma-gd: #ffcccc;
  --chroma-gr: #ff0000;
  --chroma-gh: #003300;
  --chroma-gi: #ccffcc;
  --chroma-go: #aaaaaa;
  --chroma-gp: #000099;
  --chroma-gu: #003300;
  --chroma-gt: #99cc66;
  --chroma-w: #bbbbbb;
  --chroma-c: #776e71;
}