<div class="flex flex-1 md:mx-1/24">
    <img src="{{ .Site.Params.avatar }}" alt="avatar" class="rounded-full flex-none w-3/5 self-start md:w-2/5">
    <ul class="flex-1 grid grid-cols-1 w-6 pl-5 pt-2">
        {{ range .Site.Params.Social }}
        <li class="w-5">
            <a href="{{ index . " url" }}" target="_blank" rel="noopener" aria-label={{ index . "icon" }}>
                {{ (resources.Get (printf "icons/%s.svg" (index . "icon"))).Content | safeHTML }}
            </a>
        </li>
        {{ end }}
    </ul>
    <span id="menu" class="menu w-8 h-8 hidden md:block">
        <div class="menu hover:opacity-75"
            onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))"
            aria-label="Main Menu">
            {{ (resources.Get "icons/menu.svg").Content | safeHTML }}
        </div>
    </span>
</div>