<div class="flex flex-1 mx-1/24 lg:mx-0">
    <img src="{{ .Site.Params.avatar }}" alt="avatar"
        class="rounded-full flex-none lg:w-48 lg:h-48 w-56 self-start h-56" width="192px" height="192px">
    <ul class="flex-1 grid grid-cols-1 w-6 pl-5 pt-2">
        {{ range .Site.Params.Social }}
        <li class="w-5">
            <a href="{{ index . " url" }}" target="_blank" rel="noopener" aria-label={{ index . "icon" }}>
                {{ (resources.Get (printf "icons/%s.svg" (index . "icon"))).Content | safeHTML }}
            </a>
        </li>
        {{ end }}
    </ul>
    <span id="menu" class="menu w-8 h-8 hidden">
        <div class="menu hover:opacity-75"
            onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))"
            aria-label="Main Menu">
            {{ (resources.Get "icons/menu.svg").Content | safeHTML }}
        </div>
    </span>
</div>