<div class="flex justify-between mt-6 mb-3 <md:px-1/25">
    <span class="cursor-pointer" title="Switch Mode">
        <label for="checkbox" class="theme-switch cursor-pointer">
            <input type="checkbox" id="checkbox" class="hidden">
            <span class="slider round">
                {{ (resources.Get "icons/light.svg").Content | safeHTML }}
            </span>
        </label>
    </span>
    <a href="/search/">
        <span class="cursor-pointer" title="Search">
            {{ (resources.Get "icons/search.svg").Content | safeHTML }}
        </span>
    </a>
    <a href="/atom.xml">
        <span class="cursor-pointer" title="RSS">
            {{ (resources.Get "icons/rss.svg").Content | safeHTML }}
        </span>
    </a>
</div>
<div class="<md:bg-contentbg mt-4 <md:px-1/25 <sm:px-8 font-headline">
    <div id="navbar" class="navbar-collapse">
        <ul class="flex flex-col my-2 first:mt-1 last:mb-1 text-lg">
            {{ $currentNode := . }}
            {{ range .Site.Menus.main }}
            {{ $isCurrent := eq (.URL | absLangURL) ($.Page.Permalink) }}
            <li
                class="mt-3 mb-4 h-6 menus hover:text-hyper {{ if $isCurrent}} text-deepgray {{ else }} text-tagborder {{ end }}">
                <a href="{{ .URL }}"
                    class="w-full inline-flex items-center flex-wrap no-underline h-6 transition ease-linear duration-300">
                    <span class="text-svg flex-grow ">
                        {{ (resources.Get (printf "icons/%s.svg" .Pre)).Content | safeHTML }}
                    </span>
                    <div class="w-16">
                        <span class="text-left pr-2">{{ .Name }}</span>
                    </div>
                    <span class="px-6 flex-grow"></span>
                </a>
            </li>
            {{ end }}
        </ul>

    </div>
</div>