{{ define "main" }}
{{ $all := where site.RegularPages ".Section" "in" site.Params.mainSections }}
{{ $published := where site.RegularPages "Params.published" "!=" false }}
{{ range $index, $element := first 4 ($all | intersect $published) }}
{{ if eq $index 0 }}
{{ partial "core/card-main" $element }}
<p class="text-xl font-maintext font-medium leading-loose text-[#4a4040] dark:text-[#e9f1f6] mt-12 mb-6 <sm:px-4">近期文章
</p>
<div class="flex flex-wrap justify-between">

    {{ else }}
    {{ partial "core/card-small" $element }}
    {{ end }}
    {{ end }}
</div>
<div class="my-8 <sm:px-4">

    <extra>
        <a href="/archives/" class="">查看更多文章</a>
    </extra>
</div>
{{ end }}