{{ define "main" }}
{{ $all := where site.RegularPages ".Section" "in" site.Params.mainSections }}
{{ $published := where site.RegularPages "Params.published" "!=" false }}
{{ $paginate := .Paginate ($all | intersect $published) }}
{{ range $index, $element := $paginate.Pages }}
{{ if eq $index 0 }}
{{ partial "core/card-main" $element }}
<p class="text-xl font-maintext font-medium leading-loose text-[#636363] dark:text-[#b3b3b3] mt-12 mb-6 <sm:px-6">近期文章
</p>
<div class="flex flex-wrap justify-between">

    {{ else }}
    {{ partial "core/card-small" $element }}
    {{ end }}
    {{ end }}
</div>
<div class="my-8 <sm:px-6">

    <extra>
        <a href="/archives/" class="">查看更多文章</a>
    </extra>
</div>
{{ end }}