<div class="flex-shrink-0 <sm:mx-4 <lg:flex <lg:w-[calc(100%-2rem)] mt-4 mb-8 w-[calc(100%/3-1rem)] text-[0.9375rem]">
    <a href="{{ .RelPermalink }}">
        <div class="lazy flex-none rounded w-full card-outline lg:mb-6 h-48 <lg:h-24 <lg:w-24 bg-cover bg-center"
            data-src="{{ .Params.Cover }}">
        </div>
    </a>
    <div class="<lg:pl-4 <lg:flex-col-reverse <lg:flex">
        {{ partial "widget/date-category.html" . }}
        <div class="flex-grow flex flex-col text-[0.9375rem] lg:mt-4 text-[#665757] dark:text-[#e9f1f6]">
            <a href="{{ .RelPermalink }}">
                <h2
                    class="text-lg font-headline text-[#392f41] dark:text-[#f0f0f4] hover:text-[#065279] dark:hover:text-[#ffa631] overflow-hidden max-h-14">
                    {{ .Params.Title }}
                </h2>
            </a>
            {{ with .Params.Subtitle }}
            <p class="text-base mt-1 font-headline leading-7 text-[#665757] dark:text-[#e9f1f6] ">
                {{ . }}
            </p>
            {{ end }}
        </div>
    </div>
</div>