<div class="bg-contentbg flex flex-col rounded-lg overflow-hidden font-sans min-h-96 link-card">
    <div href="{{ .RelPermalink }}" class="flex flex-row flex-grow">
        <div class="lazy bg-cardcover flex content-end flex-wrap bg-cover w-full bg-center box-border"
            data-src="{{ .Params.Cover }}">
            <div class=" justify-between w-full items-center flex mb-4">
                <div class="title-date w-full px-8 sm:px-6">
                    {{ $category := .Params.Category }}
                    {{ with $.Site.GetPage (printf "/category/%s" $category) }}
                    <div
                        class="text-categorytag mt-10 h-8 py-1 font-bold cursor-pointer float-right bg-black text-code bg-opacity-25  hover:bg-opacity-50 px-3 mb-2 font-button inline-block transition ease-linear duration-300 rounded-lg">
                        <a href="{{ .Permalink }}" title="{{ $category }}">
                            {{ $category }}
                        </a>
                    </div>
                    {{ end }}
                    <div class="my-1">
                        <span class="text-deepgray card-tag text-cardtext">
                            {{ dateFormat " Jan 2, 2006" .Date }}</span>
                    </div>
                    <h3 class="text-headline headline pt-2 text-2xl card-title items-center justify-between">
                        <a href="{{ .RelPermalink }}">
                            {{ .Params.Title }}
                        </a>
                    </h3>

                </div>
            </div>
        </div>
    </div>
    <div class="p-4 leading-7 article-summary">
        <p class="text-code text-justify max-h-summary overflow-hidden">
            {{ .Summary | plainify }}
        </p>
    </div>
</div>