<div class="flex-shrink-0 <lg:w-full my-4 mb-10 w-[calc(100%/3-1rem)] text-[0.9375rem]">
    <div class="lazy flex-none rounded w-full border mb-6 border-[#2e2e2e] lg:h-54 h-48 bg-cover bg-center"
        data-src="{{ .Params.Cover }}">
    </div>
    {{ partial "widget/date-category.html" . }}
    <div class="flex-grow flex flex-col justify-between text-[0.9375rem] mt-4 text-[#665757] dark:text-[#e9f1f6]">
        <a href="{{ .RelPermalink }}">
            <h2
                class="text-lg font-headline  leading-8 text-[#392f41] dark:text-[#f0f0f4] hover:text-[#065279] dark:hover:text-[#ffa631] overflow-hidden">
                {{ .Params.Title }}
            </h2>
        </a>
        {{ with .Params.Subtitle }}
        <p
            class="text-base leading-8 font-headline text-[#665757] dark:text-[#e9f1f6] dark:hover:text-[#ffa631] overflow-hidden max-h-14">
            {{ . }}
        </p>
        {{ end }}
    </div>
</div>