<div class="bg-[#fffffd] dark:bg-[#2e2e2e] flex <lg:flex-col card-outline">
    <div class="lazy flex-none 2xl:w-80 2xl:h-80 xl:w-72 xl:h-72 w-56 h-56 lg:h-64 lg:w-64 <lg:w-full <md:h-64 bg-cover bg-center"
        data-src="{{ .Params.Cover }}">
    </div>
    <div class="2xl:px-6 2xl:py-4 xl:px-4 xl:py-3 p-4 flex flex-col text-[0.9375rem] 2xl:h-80 xl:h-72 lg:h-64 <lg:h-72">
        <a href="{{ .RelPermalink }}">
            <h2
                class="text-2xl <lg:leading-9 font-maintext font-medium leading-11  text-[#392f41] dark:text-[#f3f9f1] hover:text-[#065279]  dark:hover:text-[#ffa631] truncate">
                {{ .Params.Title }}
            </h2>
        </a>
        {{ with .Params.Subtitle }}
        <h3 class="text-xl font-maintext font-medium leading-8 xl:py-1 <lg:py-1 text-[#665757] dark:text-[#f0f0f4]">
            {{ . }}
        </h3>
        {{ end }}
        <p id="summary" class="leading-7 relative max-h-35 mt-2 text-justify overflow-hidden">
            {{ .Summary | replaceRE "(?m)(?s:<(style|script).*(style|script)>)" "" | plainify}}
                {{ (resources.Get "icons/ellipsis.svg").Content | safeHTML}}
        </p>
        <extra class="mt-auto 2xl:py-2 py-1  leading-5 text-[#665757] dark:text-[#f0f0f4] justify-between flex">
            {{ partial "widget/date-category.html" . }}
            <a href="{{ .RelPermalink }}">继续阅读</a>
        </extra>
    </div>
</div>