<div class="bg-[#fffffd] dark:bg-[#2e2e2e] flex <lg:flex-col card-outline">
    <div class="lazy flex-none 2xl:w-80 2xl:h-80 xl:w-72 xl:h-72 w-56 h-56 lg:h-64 lg:w-64 <lg:w-full <md:h-64 bg-cover bg-center"
        data-src="{{ .Params.Cover }}">
    </div>
    <div class="2xl:px-6 2xl:py-4 xl:px-4 xl:py-3 p-4 flex flex-col text-[0.9375rem] 2xl:h-80 xl:h-72 lg:h-64 <lg:h-72">
        <a href="{{ .RelPermalink }}">
            <h2
                class="text-2xl <lg:leading-9 font-maintext font-medium leading-11  text-[#393939] dark:text-[#eaeaea] hover:text-[#2763B6]  dark:hover:text-orange-200 truncate">
                {{ .Params.Title }}
            </h2>
        </a>
        {{ with .Params.Subtitle }}
        <h3 class="text-xl font-maintext font-medium leading-8 text-[#636363] dark:text-[#b3b3b3]">
            {{ . }}
        </h3>
        {{ end }}
        <p class=" leading-7 max-h-36 mt-2 text-justify overflow-hidden">
            {{ .Summary | replaceRE "(?m)(?s:<(style|script).*(style|script)>)" "" | plainify}}
        </p>
        <extra class="mt-auto 2xl:py-2 py-1  leading-5 text-[#636363] dark:text-[#b3b3b3] justify-between flex">
            {{ partial "widget/date-category.html" . }}
            <a href="{{ .RelPermalink }}" class="text-[#2763B6]">继续阅读</a>
        </extra>
    </div>
</div>