<article class="pt-2 max-w-full">
    <div class="h-2"></div>
    <content {{ with .Params.encrypt_pwd }} class="hidden" {{ end }} {{ with .Params.encrypt_pwd }} data-password={{.}}
        {{ end }}>
        {{ replace .Content "<br>" "" | safeHTML }}
    </content>
    {{ with .Params.encrypt_pwd }}
    <script>window.blog_encrypted = true</script>
    {{ end }}
    <div id="svelte"></div>
    {{ if in .Site.Params.mainSections .Type }}
    {{ partial "widget/article-info/article-stats" . }}
    {{ end }}
    {{$.Scratch.Set "svelte" false}}
</article>