<article class="pt-2">
    <div style="background-size: 1px;"
        class="article-meta text-beargray cover bg-clip-text backdrop-filter backdrop-blur-lg">

        {{ $date := .Date }}
        {{ $wordcount := .WordCount }}
        {{ with .Params.tags }}
        <div class="article-tags px-6 sm:px-5 font-button text-code items-center mt-3">
            <span class="text-deepgray mr-1"> {{ dateFormat "Jan 2, 2006" $date }} </span>
            <span class="ml-2">/</span>
            {{ range . }}
            {{ $page := site.GetPage (printf "/tags/%s" .) }}
            <span class="hover:text-bqbg cursor-pointer overflow-hidden">
                <a href="{{ $page.RelPermalink }}" title="{{ . }}" style="line-height: 32px"
                    class="hover:bg-buttontext transition ease-linear duration-300 inline-block mx-1 px-3 text-sm border-tagborder rounded font-button">
                    #{{ . }}
                </a>
            </span>

            {{ end }}
        </div>
        {{ end }}
        <h1 class=" text-maintext text-title font-medium w-full pt-2 pb-3 mb-2 mt-1 px-6 sm:px-5">
            <span class="lg:text-3xl text-title text-atcheadline">{{ .Title }}</span>
            {{ if in .Site.Params.mainSections .Type }}
            <sup class=" text-sm text-tagborder "> {{ $wordcount }} Words</sup>
            {{end}}
        </h1>
        {{ with .Params.Subtitle }}
        <h5 class="text-deepgray text-xl font-medium pb-3 px-6 sm:px-5 mb-3"><span>{{ . }}</span></h5>
        {{ end }}
    </div>
    {{ if in .Site.Params.mainSections .Type }}
    {{ $days := div (sub now.Unix .Date.Unix) 86400 }}
    {{ if gt $days 180 }}
    <blockquote id="out-dated" class="border-bqborder bg-bqbg">
        <p class="">本文最近一次更新于
            {{ $year := div $days 360 }}
            {{ $month := div $days 30 }}
            {{ if gt $year 0 }}
            {{ $year }} 年
            {{ if gt (mod $month 12) 0 }}
            零 {{ mod $month 12 }} 个月
            {{end}}
            {{ else }}
            {{ mod $month 12 }} 个月
            {{ end }}
            前，其中所包含的信息很可能已经有所发展或是发生改变。</p>
    </blockquote>
    {{ end }}
    {{ end }}
    <div class="h-2"></div>
    <content class="{{ with .Params.encrypt_pwd }} hidden {{ end }}" {{ with .Params.encrypt_pwd }} data-password={{.}}
        {{ end }}>
        {{ .Content }}
    </content>
    {{ with .Params.encrypt_pwd }}
    <script>window.blog_encrypted = true</script>
    {{ end }}
    <div id="svelte"></div>
    {{ if in .Site.Params.mainSections .Type }}
    {{ partial "widget/article-info/article-stats" . }}
    {{ end }}
    {{$.Scratch.Set "svelte" false}}
</article>