<div class="px-2 w-1/5 rounded-md sm:w-1/4 pb-6">
    <figure class="text-center text-sm truncate text-beargray  bg-contentbg link-card rounded">
        <a href="{{ .Get 0 }}" target="_blank" class="mx-0">
            <img class="mx-auto lazy" title="{{ .Get 3 }}"
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWP4+vXrfwAJoQPf9FzjxgAAAABJRU5ErkJggg=="
                data-src="{{ .Get 2 }}" alt="">
        </a>
        <span class="block truncate p-smallest" title="{{ .Get 1 }}">{{ .Get 1 }}</span>
    </figure>
</div>